<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Temporary navbar container fix -->
    <style>
    	body {
		    padding-top: 54px;
		}

		@media (min-width: 992px) {
		    body {
		        padding-top: 56px;
		    }
		}

	    .navbar-toggler {
	        z-index: 1;
	    }
	    
	    @media (max-width: 576px) {
	        nav > .container {
	            width: 100%;
	        }
	    }
    </style>

  </head>

  <body>
    <%= yield %>
  </body>

</html>